{% extends "layout.html" %}
{% block content %}
<h2>Authors</h2>
    <p style="color: black">
        Created by Kaylee Dao and Adam Clear for Holberton School Tulsa.
    </p>
<h2>Codebase</h2>
    <p style="color: black">
        This site is a re-tooling of Corey Schafer's Flaskblog tutorial.
        Which can be found <a href="https://youtu.be/MwZwr5Tvyxo" target="_blank">
            here</a>.
    </p>
<h2>API</h2>
    <p style="color: black">
        This site pulls information from 
        <a href="https://www.dnd5eapi.co/" target="_blank">dnd5eapi.co</a>,
        a third-party RESTful API for the Dungeons & Dragons 5th edition SRD.
    </p>
<h2>SRD</h2>
    <p style="color: black">
        The SRD is the Systems Reference Document for Dungeons & Dragons.
        It contains all the guidelines for publishing content under
        Wizards of the Coast's Open Gaming License.
    </p>
<h2>Wizards of the Coast</h2>
    <p style="color: black">
        WotC is the copyright holder of the Dungeons & Dragons brand.
    </p>
{% endblock content %}