{% extends "layout.html" %}
{% block content %}
    <h4>{{ character.name }}</h4>
    <h4>Stats:</h4>
        <ul>
            <li>Strength: {{ character.strength }} Mod: {{ str_mod }}</li>
            <li>Dexterity: {{ character.dexterity }} Mod: {{ dex_mod }}</li>
            <li>Constitution: {{ character.constitution }} Mod: {{ con_mod }}</li>
            <li>Intelligence: {{ character.intelligence }} Mod: {{ int_mod }}</li>
            <li>Wisdom: {{ character.wisdom }} Mod: {{ wis_mod }}</li>
            <li>Charisma: {{ character.charisma }} Mod: {{ cha_mod }}</li>
        </ul>
    <h4>HP: {{ char_hp }}</h4>
    <h4>AC: {{ char_ac }}</h4>
    <h4>{{ character.ancestry }}</h4>
    <h4>{{ character.heroic_class }}</h4>
    <h4>Ancestral Traits:</h4>
    {% if trait_dict %}
        {% for key, value in trait_dict.items() %}
            <h4>{{ key }}</h4>
            {% for item in value %}
                <p style="color: black">{{ item }}</p>
            {% endfor %}
        {% endfor %}
    {% elif character.ancestry == 'Human' %}
        <h4>Ability Score Increase</h4>
            <p style="color: black">Your ability scores each increase by 1.</p>
    {% endif %}
    <h4>Class Abilities:</h4>
    {% for key, value in feat_dict.items() %}
        <h4>{{ key }}</h4>
        {% for item in value %}
            <p style="color: black">{{ item }}</p>
        {% endfor %}
    {% endfor %}
    <section class="NewExist">
        <button type="button" class="btn btn-outline-danger btn-lg">Level Up</button>
        <button type="button" class="btn btn-outline-danger btn-lg">Edit</button>
        <button type="button" class="btn btn-outline-danger btn-lg">Delete</button>
    </section>
{% endblock content %}