{% extends "layout.html" %}
{% block content %}
    <div class="background-image">
        <div class=welcome>
            <h1>
                Welcome to the HolB&D Character Creator!
            </h1>
            <section class="NewExist">
                <button type="button" class="btn btn-outline-dark btn-lg home">
                    <a href="{{ url_for('users.login') }}">Login</a>
                </button>
                <button type="button" class="btn btn-outline-dark btn-lg home">
                    <a href="{{ url_for('users.register') }}">Register</a>
                </button>
            </section>
        </div>
        {% if current_user.is_authenticated %}
            <p>
                Have fun creating your characters!
            </p>
    </div>
        <section class="NewExist">
            <button type="button" class="btn btn-outline-danger btn-lg">
                <a href="{{ url_for('characters.new_character') }}">Create New Character</a>
            </button>
            <button type="button" class="btn btn-outline-danger btn-lg">
                <a href="{{ url_for('characters.my_characters') }}">View My Characters</a>
            </button>
        </section>
        {% else %}
        {% endif %}
{% endblock content %}