{% extends "layout.html" %}
{% block content %}
    <div class="background-image">
        <h1>
            Welcome to the HolB&D Character Creator!
        </h1>
        {% if current_user.is_authenticated %}
            <p>
                Have fun creating your characters!
            </p>
    </div>
        <section class="NewExist">
            <button type="button" class="btn btn-outline-danger btn-lg">Create New</button>
            <button type="button" class="btn btn-outline-danger btn-lg">View Existing Characters</button>
        </section>
        {% else %}
            <p>
                Please login or sign up to get started!
            </p>
        {% endif %}
{% endblock content %}