{% extends "layout.html" %}
{% block content %}
<h1 class="mb-3 username">Characters: {{ current_user.characters.total }}</h1>
</article>  
<div class="my_chars_cnc">
    <button type="button" class="btn btn-outline-danger btn-lg cnc">
        <a class="mr-2" style="color: black" href="{{ url_for('characters.new_character') }}">Create a New Character</a>
    </button>  
</div>
    {% for character in current_user.characters %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h2><a style="color: #bd1f0a" class="mr-2" href="{{ url_for('characters.character_sheet', character_id=character.id) }}">
                        {{ character.name }}
                    </a></h2>
                    <h2><a class="article-title">Level {{ character.level }} {{ character.ancestry }} {{ character.heroic_class }}</a></h2>
                    <small class="text-muted">Created on: {{ character.date_created.strftime('%Y-%m-%d') }}</small>
                </div>
            </div>
            <section class="NewExist my_chars">
                <button type="button" class="btn btn-outline-danger btn-lg my_chars">
                    <a href="{{ url_for('characters.level_up', character_id=character.id) }}">Level Up</a>
                </button>
                <button type="button" class="btn btn-outline-danger btn-lg my_chars" >
                    <a href="{{ url_for('characters.edit_character', character_id=character.id) }}">Edit</a>
                </button>
                <button type="button" class="btn btn-outline-danger btn-lg my_chars">
                    <a href="{{ url_for('characters.delete', character_id=character.id) }}">Delete</a>
                </button>
            </section>
        </article>
    {% endfor %}
{% endblock content %}