section.NewExist {
    display: flex;
    margin-top: 50px;
    column-count: 2;
}

.btn {
    flex-grow: 1;
    width: 50%;
    margin-left: 5px;
    text-align: center;
    padding: 8px;
    border: 1px solid black;
}

.background-image {
    height: 150%;
    width: 100%;
    background-image: url('./images/DnD_background.jpeg');
}

h1 {
    text-align: center;
    padding-top: 300px;
    color: white;
}

p {
    text-align: center;
    color: white;
}
