h3 {
    margin-top: 30px;
    background-color: #bd1f0a;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
}

.NewExist button > a {
    color: #bd1f0a;
}

div .media-body {
    border-radius: 15px;
}

button.btn.btn-outline-danger.btn-lg.cnc {
    text-align: center;
    margin-left: 25%;
}